/Client.class
/Empresa.class
/EmpresaAdapter.class
/Pessoa.class
/PessoaAdapter.class
/Target.class
/TargetEmailValidator.class
/EmailValidatorAdapter.class
/JavaMailAPIAdapter.class
/JavaxEmailAdapter.class
/Cliente.class
/InternetAdressAdapter.class
/InternetAdrdesAdapter.class
/InternetAddresAdapter.class
/InternetAddressAdapter.class
/CommonsValidatorAdapter.class
